body {
	color: #f42069;
	background-color: #b4da55;
	font-family:Comic Sans MS,sans-serif;
	text-align: center;
}

#output {
	width:600px;
	height:200px;
	border:thin solid #CC0000;
	padding:10px;
	margin: 0 auto;
	text-align: center;
}

.button {
	color: #b4da55;
	background-color: #f42069;
	font-family:Comic Sans MS,sans-serif;
	border: none;
	padding:15px 32px;
	font-size:1.5em;
	border-radius:10px;
	transition-duration: 0.4s;
	margin-bottom:20px;
}

.button:hover{
	color: #b4da55;
	background-color: green;
	font-family:Comic Sans MS,sans-serif;
}
